{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container">

        <!-- Technology News Section  -->
            
        <h3>Technology News Sources</h3>
        <hr>

        {{ macro.displaySourceList(technology_sources)}}

        <!-- Entertainment News Section  -->
         
        <h3>Entertainment News Sources</h3>
        <hr>

        {{ macro.displaySourceList(entertainment_sources)}}

        <!-- Entertainment News Section  -->
         
        <h3>Sports News Sources</h3>
        <hr>

        {{ macro.displaySourceList(sports_sources)}}

        <!-- Business News Section  -->
        <h3>Business News Sources</h3>
        <hr>

        {{ macro.displaySourceList(business_sources)}}
	
</div>
{%endblock%}
